#Header always set Access-Control-Allow-Origin "http://www.fitnesstimer.dev"                   
#Header always set Access-Control-Allow-Methods "POST, GET, PUT, DELETE, OPTIONS"
#Header always set Access-Control-Allow-Headers "origin, x-requested-with, Content-Type,X-Custom-Header"
#header always set Access-Control-Allow-Credentials "true"

# Apache needs to let you overrite this (AllowOverride Indexes or AllowOverride All)
DirectoryIndex index.php
<IfModule mod_rewrite.c>
	# Turn Rewrite Engine on
	RewriteEngine On
	# Send all requests to index.php (index.php will parse the request url and routes accordingly)
	RewriteRule ^.*$ index.php [QSA,L]
</IfModule>